<a href="https://colab.research.google.com/github/hp241t/Automobile_Data_Analysis/blob/master/FinTech.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Directing Customers to subscriptions products through app behaviour analysis

D

In [0]:
import pandas as pd
import numpy as np

In [3]:
from google.colab import files
uploaded = files.upload()

Saving appdata10.csv to appdata10.csv

In [0]:
import io
dataset = pd.read_csv(io.StringIO(uploaded['appdata10.csv'].decode('utf-8')))

#df = pd.read_csv(r'G:\Project_ML\appdata10\appdata10.csv')

In [36]:
dataset.head()

     user               first_open  ...            enrolled_date liked
0  235136  2012-12-27 02:14:51.273  ...                      NaN     0
1  333588  2012-12-02 01:16:00.905  ...                      NaN     0
2  254414  2013-03-19 19:19:09.157  ...                      NaN     1
3  234192  2013-07-05 16:08:46.354  ...  2013-07-05 16:11:49.513     0
4   51549  2013-02-26 18:50:48.661  ...  2013-02-26 18:56:37.841     1

[5 rows x 12 columns]

In [37]:
dataset.describe()

                user     dayofweek  ...      enrolled         liked
count   50000.000000  50000.000000  ...  50000.000000  50000.000000
mean   186889.729900      3.029860  ...      0.621480      0.165000
std    107768.520361      2.031997  ...      0.485023      0.371184
min        13.000000      0.000000  ...      0.000000      0.000000
25%     93526.750000      1.000000  ...      0.000000      0.000000
50%    187193.500000      3.000000  ...      1.000000      0.000000
75%    279984.250000      5.000000  ...      1.000000      0.000000
max    373662.000000      6.000000  ...      1.000000      1.000000

[8 rows x 8 columns]

In [38]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
user                    50000 non-null int64
first_open              50000 non-null object
dayofweek               50000 non-null int64
hour                    50000 non-null object
age                     50000 non-null int64
screen_list             50000 non-null object
numscreens              50000 non-null int64
minigame                50000 non-null int64
used_premium_feature    50000 non-null int64
enrolled                50000 non-null int64
enrolled_date           31074 non-null object
liked                   50000 non-null int64
dtypes: int64(8), object(4)
memory usage: 4.6+ MB

In [0]:
dataset['hour'] = dataset.hour.str.slice(1,3).astype(int)

In [40]:
dataset.head()

     user               first_open  ...            enrolled_date  liked
0  235136  2012-12-27 02:14:51.273  ...                      NaN      0
1  333588  2012-12-02 01:16:00.905  ...                      NaN      0
2  254414  2013-03-19 19:19:09.157  ...                      NaN      1
3  234192  2013-07-05 16:08:46.354  ...  2013-07-05 16:11:49.513      0
4   51549  2013-02-26 18:50:48.661  ...  2013-02-26 18:56:37.841      1

[5 rows x 12 columns]

In [0]:
# Plotting :

dataset2 = dataset.copy().drop(columns =['user','first_open','screen_list','enrolled_date','enrolled'])

In [0]:
# histograms :